<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>문의 등록</title>
</head>
<body>
<h1>문의 등록</h1>
<form action="/cs/inquiry" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">

    <select name="category" id="category">
        <option th:each="cat : ${T(com.nhnacademy.springbootmvc.domain.Category).values()}"
                th:value="${cat.name()}"
                th:text="${cat.toString()}">
        </option>
    </select>

    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required minlength="2" maxlength="200" placeholder="제목을 입력하세요"/>
    </div>

    <div>
        <label for="content">본문:</label>
        <textarea id="content" name="content" required maxlength="40000" rows="10" cols="50" placeholder="문의 내용을 입력하세요"></textarea>
    </div>

    <div>
        <label for="attachments">첨부파일 (이미지 파일만 가능):</label>
        <input type="file" id="attachments" name="attachments" accept="image/gif, image/jpeg, image/jpg, image/png" multiple />
    </div>

    <div>
        <button type="submit">확인</button>
        <button type="button" onclick="cancelForm();">취소</button>
    </div>
</form>
</body>
</html>
