<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>질문 상세보기</title>
</head>
<body>
<h2>질문</h2>
<table border="1">
  <tbody>
  <tr>
    <td>제목</td>
    <td th:text="${question.title}">제목 내용</td>
  </tr>
  <tr>
    <td>본문</td>
    <td th:text="${question.content}">본문 내용</td>
  </tr>
  <tr>
    <td>카테고리</td>
    <td th:text="${question.category.toString()}">카테고리 내용</td>
  </tr>
  <tr>
    <td>작성일</td>
    <td th:text="${question.date}">작성일 내용</td>
  </tr>
  <tr th:if="${isAnswerExist}">
    <td colspan="2" class="marking">답변 안됨</td>
  </tr>

  </tbody>
</table>

<div th:if="${isAnswerExist}">
  <h2>답변</h2>
  <table border="1">
    <tbody>
    <tr>
      <td>답변 내용</td>
      <td th:text="${answer.answer}">답변 내용</td>
    </tr>
    <tr>
      <td>답변 작성일</td>
      <td th:text="${answer.answerDate}">답변 작성일</td>
    </tr>
    <tr>
      <td>답변 작성자</td>
      <td th:text="${answer.answerWriter}">답변 작성자</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
